@charset "ISO-8859-1";

.setright
{
	float: right;	
}
.flex-container {	
	display: flex;
	flex-direction: column;
}
.flex-horizontal {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 50%;
}
.box {
	border: 3px solid black;
	padding: 80px;
}